@charset "UTF-8";

html{
  font-size: 100%;
}
body{
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", san-serif;
  line-height: 1.7;
  color: #432;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

footer{
  background: darkblue;
  text-align: center;
}

.page-header{
  height 150px;
  margin-bottom: 40px;
  background-color: lightblue;
  text-align: center;
}

.grid{
  display: grid;
  gap: 26px;
  grid-template-colums: 1fr 1fr 1fr;
  margin-top: 6%;
  margin-bottom: 50px;
}
