@charset "UTF-8";

html{
  font-size: 100%;
}
body{
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", san-serif;
  line-height: 1.7;
  color: #432;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

footer{
  background: lightblue;
  text-align: center;
}

article{
  width: 70%;
}

article img{
  margin-bottom: 20px;
}
article p{
  margin-bottom: 1rem;
}

aside{
  width: 25%;
}

.page-header{
  height 150px;
  margin-bottom: 40px;
  background-color: lightblue;
  text-align: center;
}

.container{
  display: flex;
  gap: 26px;
}

.sub-title{
  font-size:1.5rem;
  padding:0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}

aside p{
  padding: 12px 10px;
}
